.intro {
  margin: 1.2em auto;
  text-align: center;
}

.mat-list {
  border: 3px solid #444;
  border-radius: 7px;
  margin: .3em;

}

.mat-list-item {
  cursor: grab;
}

.choices p {
  color: #444
}

.vote .mat-list {
  min-height: 50%;
  min-width: 50%;
}
